{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>Post details</h1>

<div class="row">
        <div class="col-md-8">
		  <div class="card mb-4">
			
			<div class="card-body">
			  <h2 class="card-title">{{post.title}}</h2>
			  <p class="card-text">{{post.text}}</p>
			  {% if user.is_superuser %}
			  <a href="{% url 'edit' pk=post.pk %}" class="btn btn-primary">Edit</a>
			  <a href="{% url 'deleted' pk=post.pk %}" class="btn btn-primary" style="background: red; border: red">Delete</a>
			
			{% endif %}
			</div>
			<div class="card-footer text-muted">
			  Posted on {{post.create}} by
			  <a href="#">kulyashknr</a>
			</div>
		  </div>
		</div>
</div>
<h3>Comments</h3>
<hr>
{% if user.is_authenticated  %}
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>Be the first commentator!</p>
{% endfor %}

<a class="btn btn-primary" href="{% url 'add_comment' pk=post.pk %}">Add comment</a>
</div>
{% endif %}
{% endblock %}